@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--foreground);
  background: var(--background);
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.container {
  width: calc(100% - 2rem);
  max-width: calc(1440px - 2rem);
  margin: 0 auto;
}
